#bf-demo-customer-order {
  & > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .view-title {
      margin-bottom: 15px;
    }

    .list {
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 500px;
      margin: auto;

      .item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 25px;
        line-height: 1.5em;
        cursor: pointer;
        border-radius: 5px;
        background-color: #ebebeb;
        user-select: none;
        margin: 25px 0;

        .name {
          font-weight: 700;
        }

        svg {
          position: absolute;
          top: -5px;
          right: -5px;
          opacity: 0;
        }

        &:hover {
          svg {
            opacity: 0.5;
          }
        }

        &.selected {
          svg {
            opacity: 1;
          }
        }
      }
    }

    .validate {
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 25px;
      padding-top: 25px;
      padding-bottom: 25px;
      border-top: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;

      div {
        width: 100px;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 1.2em;
        font-weight: bold;
      }

      button {
        font-size: 1.5em;
        background-color: white;
        color: black;
        padding: 5px 25px;
        border-radius: 5px;
        font-family: Poppins, sans-serif;
        font-weight: bold;
        border: 2px solid black;
        outline: none;

        &:disabled {
          opacity: 0.3;
        }

        &:not(:disabled):hover {
          cursor: pointer;
          background-color: black;
          color: white;
        }
      }
    }
  }
}