#bf-demo-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background: #4b3f80;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-top: 3px solid #343163;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-sizing: border-box;
  transform: translateY(145px);
  transition: transform 0.5s;

  &.visible {
    transform: translateY(0);
  }

  button {
    width: 170px;
    font-size: 1.5em;
    background-color: #4b3f80;
    color: white;
    margin-right: 25px;
    padding: 5px;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid white;
    outline: none;
    transition: opacity 0.3s;
    user-select: none;

    svg {
      margin-right: 10px;
      font-size: 0.9em;
    }

    &.disabled {
      opacity: 0;
    }

    &:not(.disabled):hover {
      cursor: pointer;
      background-color: white;
      color: #4b3f80;
    }
  }

  .progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .task {
      height: 17px;
      line-height: 17px;
      font-family: Poppins, sans-serif;
      font-size: 1.1em;
      color: white;
      margin-bottom: 14px;

      span {
        margin-right: 5px;
      }
    }

    .breadcrumb {
      display: flex;
      align-items: center;
      justify-content: center;

      & > *:not(:first-of-type) {
        position: relative;
        margin-left: 15px;
        transition: opacity 0.3s;
        opacity: 1;
        user-select: none;

        &:not(.completed) {
          opacity: 0.3;
        }

        &:before {
          content: '';
          position: absolute;
          top: calc((100% - 4px) / 2);
          left: -15px;
          height: 4px;
          width: 15px;
          background: white;
          z-index: -1;
        }
      }

      .icon {
        width: 60px;
        height: 60px;
        background: white no-repeat center;
        background-size: 65%;
        border-radius: 100%;

        &.customer {
          background-image: url('../../style/images/customer.svg');
        }

        &.restaurant {
          background-image: url('../../style/images/restaurant.svg');
        }

        &.courier {
          background-image: url('../../style/images/courier.svg');
        }
      }

      .step {
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: white;
        font-family: Poppins, sans-serif;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}