#bf-demo-start-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 3em;
    color: #4b3f80;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
  }

  button {
    font-size: 3em;
    background-color: white;
    color: #4b3f80;
    padding: 5px 25px;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    border: 5px solid #4b3f80;
    cursor: pointer;
    outline: none;
    user-select: none;

    &:hover {
      background-color: #4b3f80;
      color: white;
    }
  }
}