#bf-demo-customer-address {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .view-title {
      font-size: 3.5em;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;

      input, button {
        padding: 0 15px;
        height: 60px;
        line-height: 60px;
        outline: none;
        background: white;
        border: 2px solid grey;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 2.2em;
      }

      input {
        &:focus {
          border-color: #333;
        }
      }

      button {
        margin-left: 10px;
        border-color: #333;

        &:disabled {
          opacity: 0.3;
        }

        &:not(:disabled):hover {
          cursor: pointer;
          background: #333;
          color: white;
        }
      }
    }
  }
}