#bf-demo-error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-family: "Open Sans", sans-serif;
    color: #cb3837;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
  }

  button {
    margin-top: 50px;
    font-size: 3em;
    background-color: white;
    color: #cb3837;
    padding: 5px 25px;
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    border: 5px solid #cb3837;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;

    &:hover {
      background-color: #cb3837;
      color: white;
    }
  }
}

.view {
  position: relative;
  top: 75px;
  width: 100%;
  height: calc(100% - 75px - 130px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open sans", sans-serif;

  .view-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-size: 2em;
    color: #525252;
    margin-bottom: 35px;

    .label {
      padding: 15px 0;
      white-space: nowrap;
      max-width: 1000px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      color: black;
    }
  }

  .go-back {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    user-select: none;

    i {
      margin-right: 7px;
      color: black;
    }

    &.disabled {
      opacity: 0.3;
    }

    &:not(.disabled):hover {
      cursor: pointer;
      background: black;
      color: white;

      i {
        color: white;
      }
    }
  }

  .btn-remote-action {
    align-self: center;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: 10px solid black;
    border-radius: 100%;
    font-size: 10em;
    transition: transform 0.3s;

    &.not-a-btn {
      font-size: 2em;
      border-color: transparent;

      i {
        animation-duration: 0.9s;
        animation-timing-function: ease-in-out;
      }
    }

    &:not(.not-a-btn):hover {
      cursor: pointer;
      background: black;
      color: white;
      transform: scale(1.1);
    }
  }
}