#bf-demo-restaurant-order {
  & > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .view-title-status {
      margin-top: 50px;
    }

    .details {
      margin-top: -30px;
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .menu-list {
        display: flex;
        align-items: center;
        justify-content: center;

        .menu {
          background: lightgray;
          padding: 5px 10px;
          font-size: 0.7em;
          font-family: "Open Sans", sans-serif;
          font-style: italic;
          color: black;
          border-radius: 5px;

          &:not(:last-of-type) {
            margin-right: 15px;
          }
        }
      }
    }

    .btn-remote-action {
      i.fa-utensils {
        font-size: 0.9em;
        position: relative;
        top: -5px;
        left: -3px;
      }
    }
  }
}