#bf-demo-restaurant-order {
  & > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .view-title-status {
      margin-top: 50px;
    }

    .btn-remote-action {
      i.fa-utensils {
        font-size: 0.9em;
        position: relative;
        top: -5px;
        left: -3px;
      }
    }
  }
}