.orders-list {
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 50px 0;
  box-sizing: border-box;

  .go-back {
    width: 110px;
    margin: auto;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .item {
      flex-shrink: 0;
      flex-grow: 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 3px solid black;
      border-radius: 5px;
      padding: 20px 100px;

      &:not(:last-of-type) {
        margin-bottom: 30px;
      }

      .icon {
        position: absolute;
        top: -20px;
        left: -20px;
        background: black;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: white;
        font-size: 1.8em;
        border: 4px solid white;
      }

      .properties {
        .id {
          opacity: 0.5;
          margin-bottom: 15px;
        }

        .status {
          font-size: 1.3em;
          text-align: center;
          line-height: 1.4em;
        }

        b {
          display: inline-block;
          font-weight: bold;
        }
      }

      &:not(.active) {
        opacity: 0.5;
      }

      &.selectable:hover {
        cursor: pointer;
        background: black;
        color: white;
        opacity: 1;
      }
    }
  }
}